body{
    background-image: url(../image/bedroom-bacground.jpg);
    background-color:#336699 ;
    
    font-family:Georgia, Times, Times New Roman, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;;
}
.basic{
    display: flex;
    width: 70%;
    margin: 30px auto;
    background-color:#ada195;
    border-radius: 15px;
}
.basic-card {
    background-color: whitesmoke;
    width: fit-content;
    border-radius: 15px;
    margin-right: 10px;
    
}
.basic-card a{
    text-decoration: none;
}
.basic a:hover{
    color: red;
}

.basic-card img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

img{
    width: 250px;
    height: 250px;
}
.premium{
    display: flex;
    width: 70%;
    margin: 0 auto;
    background-color: #ada195;
    border-radius: 15px;
}
.premium-card{
    background-color: whitesmoke;
    width: fit-content;
    border-radius: 15px;
    margin-right: 10px;
}
.premium a:hover{
    color: red;
}
.premium-card a{
    text-decoration: none;
}
.premium-card img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}